@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --mainColor: white;
  --secColor: #f6f6f6;
  --secDarkColor: #e2e2e2;
  --accColor: #3da100;
  --textColor: black;
  --mediaWidth: 1284px;
}
html {
  height: 100%;
  width: 100%;
  font-size: 50%;
}
body {
  display: grid;
  grid-template-columns: minmax(40rem, 50rem) minmax(950px, 4fr);
  grid-template-rows: 14.8rem 1fr 3.4rem;
  height: 100%;
  width: 100%;
  font-family: "PT Mono", monospace;
}
@media (max-width: 1284px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 30px;
  }
}
/*CLASSES*****************************************************************************/
.material-button {
  background-color: var(--accColor);
  color: var(--mainColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2rem;
  opacity: 1;
}
.material-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.flexColumn {
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
/*NAV BAR STYLING*********************************************************************/
header {
  background-color: var(--accColor);
  grid-column: span 2;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  color: var(--mainColor);
}
header > h1 {
  font-size: 6.4rem;
}
header > button {
  display: none;
}
@media (max-width: 1284px) {
  header > button {
    display: block;
  }
}
/*SIDEBAR STYLING********************************************************************/
nav {
  background-color: var(--secColor);
  padding: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
}
@media (max-width: 1284px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding-top: 8rem;
    transition: 0.3s;
    transform: translate(100%, 0);
    overflow-y: auto;
  }
  .navBarActive {
    transform: translate(0, 0);
  }
}
#navProjectsContainer {
  width: 100%;
}
nav > h2 {
  font-size: 4rem;
  text-align: center;
}
.projectNav {
  background-color: var(--secDarkColor);
  height: 7rem;
  margin-top: 2rem;
  border-radius: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  color: var(--textColor);
}
.projectNav > p {
  font-size: 2.4rem;
}
.projectNav > .material-button {
  padding: 0;
  background-color: transparent;
  color: black;
}
.projectNav:hover {
  opacity: 0.7;
  cursor: pointer;
}
.projectNavActive {
  background-color: var(--accColor);
  color: white;
}
.projectNavActive > .material-button {
  color: white;
}
#addProject {
  margin-top: 2rem;
}
nav > form {
  background-color: var(--accColor);
  height: 0;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
  overflow: hidden;
}
nav > form > input {
  width: 100%;
  border: none;
  height: 5rem;
  margin: 3rem 0;
  font-size: 2.4rem;
  padding-left: 1rem;
  border-radius: 1rem;
  font-family: "PT Mono", monospace;
}
nav > form > div {
  margin-bottom: 3rem;
}
nav > form > div > button {
  box-sizing: content-box;
  border: none;
  height: 4rem;
  width: 10rem;
  border-radius: 1rem;
  font-family: "PT Mono", monospace;
  background-color: var(--mainColor);
  padding: 0.3rem;
  margin: 0 1rem;
}
nav > form > div > button:hover {
  background-color: var(--secColor);
  cursor: pointer;
}
.formActive {
  margin-top: 3rem;
  height: auto;
}
/*/
/*/
/*MAIN STYLING***********************************************************************/
main {
  background-color: var(--mainColor);
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(1rem) auto;
  overflow-y: hidden;
}
@media (max-width: 1284px) {
  main {
    display: flex;
    flex-direction: column;
  }
}
/*****************************MAIN HEAD CONTAINER*********************************/
#mainHeader {
  grid-column: span 2;
  border-bottom: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
#mainHeader > h2 {
  font-size: 6.4rem;
}
#mainButtons {
  display: flex;
}
#mainButtons > span {
  margin-left: 1.5rem;
}
#mainHeader > form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#mainHeader > form > input {
  font-size: 6.4rem;
  font-family: "PT Mono", monospace;
  font-weight: 700;
  border: none;
  flex-grow: 1;
  border: black solid 1px;
  border-bottom: none;
}
/*****************************MAIN DESC CONTAINER*********************************/
#mainDescription {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#mainDescription h3 {
  font-size: 4rem;
  margin-top: 3rem;
}
#mainDescription p {
  width: 100%;
  word-wrap: break-word;
  height: auto;
  font-size: 2rem;
  text-align: justify;
  padding: 2rem 4rem;
  color: var(--mainColor);
  background-color: var(--accColor);
  border-radius: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}
#mainDescription > form {
  width: 100%;
  margin-top: 2rem;
}
#mainDescription > form > textarea {
  background-color: var(--accColor);
  border: none;
  border-radius: 2rem;
  width: 100%;
  height: 50rem;
  padding: 2rem 4rem;
  font-family: "PT Mono", monospace;
  color: white;
  font-size: 2rem;
}
#descButtons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#descButtons > .material-button {
  margin: 0 0.6rem;
}
/*****************************MAIN TASK CONTAINER*********************************/
#mainTasks {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
#mainTasks > h3 {
  font-size: 4rem;
  margin-top: 3rem;
}
#tasksContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#tasksContainer > .material-button {
  margin-top: 2rem;
}
.task {
  margin-top: 2rem;
  background-color: var(--secColor);
  min-height: 5rem;
  font-size: 2rem;
  border-radius: 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}
.task .material-button {
  background-color: transparent;
  color: black;
}
.taskContent {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  cursor: pointer;
}
.taskCompleted {
  background-color: var(--accColor);
  color: var(--mainColor);
}
.taskCompleted .material-button {
  color: var(--mainColor);
}
.taskCompleted > .taskContent {
  text-decoration: line-through;
}
.task > form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.task > form > input {
  border: none;
  font-family: "PT Mono", monospace;
  font-size: 2rem;
  height: 3rem;
  padding-left: 1rem;
  border: black 1px solid;
}
#taskButtons {
  color: white;
  display: flex;
}
#taskButtons > span {
  margin-left: 1rem;
}
.taskCompleted > form > #taskButtons > span {
  background-color: white;
  color: var(--accColor);
}

/*/
/*/
/*FOOTER STYLING********************************************************************/
footer {
  background-color: var(--accColor);
  grid-column: span 2;
}
